@mixin li($bgColor, $color) {
  display: flex;
  align-items: center;
  @include liHover($bgColor, $color)
}

@mixin liHover($bgColor, $color) {
  &:hover {
    background-color: $bgColor;
    color: $color;
  }
  &:hover > span {
    display: block;
    color: $color;
  }
}