.create-dialog {
  margin-right: 10px;
  flex: 1;
  display: flex;
  align-items: center;
  transition: opacity .3s linear, width .3s linear;
  overflow: hidden;

  > button {
    width: 100%;
    padding: 0;

    &:hover {
      opacity: 0.9;
    }

    > span {
      > i {
        margin-right: 9px;
      }
    }
  }
}