@use "styles/_mixins.module" as *;

.list {
  flex: 1;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }

  &::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    border: 3px solid transparent;
    background-clip: content-box;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: rgba(0, 0, 0, 0.3);
    }
  }

  ul {
    > li {
      color: #878aab;
      font-size: 12px;

      > ul {
        margin-top: 12px;

        > li {
          color: #26244c;
          cursor: pointer;
          font-size: 14px;
          height: 36px;
          padding: 6px 16px;
          margin-bottom: 6px;
          background-color: transparent;
          border-radius: 12px;
          justify-content: space-between;
          transition: color .3s ease, background-color .3s ease;
          @include li(#f3f2ff, #615ced);

          > p {
            width: 140px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }

          > span {
            font-size: 20px;
            display: none;
          }
        }

        > .active {
          background-color: #f3f2ff;
          color: #615ced;

          > span {
            display: block;
          }
        }
      }
    }
  }
}

.level-popover {
  width: 150px;

  ul {
    > li {
      color: #26244c;
      cursor: pointer;
      font-size: 14px;
      height: 36px;
      padding: 6px 16px;
      background-color: transparent;
      transition: color .3s ease, background-color .3s ease;
      margin-bottom: 0;
      border-radius: 5px;
      justify-content: flex-start;
      @include li(#f3f2ff, #615ced);

      > span {
        margin-right: 5px;
      }
    }

    > .danger {
      color: #e63224;
      @include liHover(#fff2f2, #e63224);
    }
  }

  .my-enter-class, .my-leave-to-class {
    opacity: 0;
  }

  .my-enter-active-class, .my-leave-active-class {
    transition: all 0.3s ease;
  }
}