@use "styles/_mixins.module" as *;

.panel-button {
  border-top: 1px solid #e8eaf2;
  height: 60px;
  display: flex;
  align-items: center;

  > .btn {
    @include levelLi();
    justify-content: flex-start;
    width: 100%;

    > span {
      font-size: 18px;
      margin-right: 8px;
    }
  }
}

