@use "styles/_mixins.module" as *;

.panel-button {
  border-top: 1px solid #e8eaf2;
  height: 60px;
  display: flex;
  align-items: center;

  > .btn {
    width: 100%;
    color: #26244c;
    cursor: pointer;
    font-size: 14px;
    height: 36px;
    padding: 6px 16px;
    margin-bottom: 6px;
    background-color: transparent;
    border-radius: 12px;
    transition: color .3s ease, background-color .3s ease;
    justify-content: flex-start;
    @include li(#f3f2ff, #615ced);

    > span {
      font-size: 18px;
      margin-right: 8px;
    }
  }
}

