.search {
  width: 36px;
  min-width: 36px;
  height: 36px;
  display: flex;
  border: 1px solid #e8eaf2;
  align-items: center;
  border-radius: 20px;
  transition: border .3s ease, width .3s ease;
  overflow: hidden;

  &:hover {
    border: 1px solid #635eeb;
  }

  > .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    aspect-ratio: 1/1;
    flex-shrink: 0;
  }

  > input {
    display: block;
    border: 0;
    outline: none;

    &::placeholder {
      color: #c6c6c6;
    }
  }
}